# =============== #
# Unity generated #
# =============== #
/[Tt]emp/
/[Oo]bj/
/[Bb]uild(s?)/
/[Ll]ibrary/
/Assets/AssetStoreTools*
sysinfo.txt
*.stackdump

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
.vscode/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.tmp
*.user
*.unityproj
*.booproj
*.svd
*.pidb.meta

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# ====== #
# Builds #
# ====== #
*.apk
*.unitypackage